<html>
<head>
	<title>Slideshow</title>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "runemadsen" %>
	<%= javascript_include_tag "libraries" %>
	<%= javascript_include_tag "shared" %>
	<%= javascript_include_tag "slideshow" %>
</head>
<body>
	<div id="slideshow">
		<p><a href="#" id="open-slides">Open Slide Window</a></p>
		<%= @html %>
	</div>
</body>
</html>
