<div class="post" id="post<%= post.id %>">
	<div class="post-header">
		<div class="time"><canvas class="clock" width="12" height="12"></canvas><%= post.time_since_now %></div>
		<h1><%= post.title %></h1>
		<div class="clear"></div>
	</div>
	<div class="post-main">
		<div class="post-main-left">
			<div class="fixie">
			<ul>
				<li><a href="/blog/<%= post.route %>">Permalink</a></li>
			</ul>
			</div>
			&nbsp;
		</div>
		<div class="post-main-right">
			<%= post.body %>
		</div>
		<div class="clear"></div>
	</div>
</div>